<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div @click="documentClick" style="width:100%;height:100%;background-color:rgba(0,0,0,0.5)" class="display-flex flex-direction-column justify-content-center align-items-center">
        <div @click.stop="emptyClick" style="border-radius:0.13rem;background-color:#fff;">
            <div style="font-size:0.4rem;color:#4a4a4a;height:1.36rem;line-height:1.36rem;text-align:center;border-bottom:1px solid #e9e9e9;font-weight:bold;">
                {{title}}
            </div>
            <numberpanel v-model="password" :itemwidth="getFontSize(0.88)" style="width:6.6rem;height:1.13rem;margin-top:0.86rem;margin-left:0.61rem;margin-right:0.61rem;"></numberpanel>
            <div style="height:1.66rem;" class="display-flex flex-direction-column align-items-center justify-content-center">
                <div @click="setPwdClick" v-if="canSetPwd" style="text-align:center;font-size:0.24rem;line-height:0.8rem;" class="maincolor">{{textRes.items['忘记密码']}}</div>
            </div>
        </div>
    </div>
</body>
</html>