<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="pages-personInfo display-flex flex-direction-column" style="width:100%;height:100%;background-color:#fff;">
        <pageheader class="flex-shrink-0" :title="textRes.items['设置支付密码']" :withloading="true" :showloading="isBusy"></pageheader>

        <div class="flex-1 canscroll">
            <div style="margin-top:0.1rem;">
                <div class="item itemborder">
                    <div class="itemtext" style="right:0;">
                        <input type="password" v-model="password" :placeholder="textRes.getItem('请输入n位数的支付密码',6)" />
                    </div>
                </div>
                <div class="item itemborder">
                    <div class="itemtext" style="right:0;">
                        <input type="text" v-model="smscode" :placeholder="textRes.items['请输入6位验证码']" />
                    </div>
                    <div @click="sendSms" class="item-right-text"><span :class="{maincolor:canSendSms===0}">{{canSendSms>0?canSendSms:textRes.items['获取验证码']}}</span></div>
                </div>
            </div>

            <div @click="submit" class="submitbtn" style="margin-top:0.94rem;margin-left:0.46rem;margin-right:0.46rem;height:1.21rem;line-height:1.21rem;">{{textRes.items['确定']}}</div>
        </div>
    </div>
</body>
</html>