<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .borderBottom {
            border-bottom: 1px solid #F5F5F5;
        }
    </style>
</head>
<body>
    <!--[{"id":27,"amount":30,"canusedamount":49.9,"payintype":1,"transerialnumber":"e6803c38-63f6-4f6a-9b04-d68e1777269d",
        result(0=失败，1=成功,2=未支付)
    "currenttype":"USDT","result":1,"sourcecurrency":"USDT","resulttime":"","tradetime":"2019-04-17 06:45:15","resultmoney":30,"paySource":0}]-->
    <div class="canscroll" style="width:100%;height:100%;position:absolute;left:0;top:0;background-color:#fff;font-size:0.45rem;">
        <pageheader :title="textRes.items['详情']"></pageheader>

        <div style="padding:0.87rem 0.45rem 0 0.45rem;color:#4A4A4A;">
            <div class="display-flex flex-direction-row borderBottom align-items-center" style="padding-bottom:0.45rem;font-weight:bold;">
                <div class="flex-1">{{itemtitle}}</div>
                <div :style="{color:f=='+'?textRes.items['TextColor涨']:textRes.items['TextColor跌']}">{{formatMoney(data.amount , f)}}</div>
                <div :style="{color:f=='+'?textRes.items['TextColor涨']:textRes.items['TextColor跌']}" style="margin-left:0.18rem;">USDT</div>
            </div>

            <div class="display-flex flex-direction-row align-items-center borderBottom" style="height:1.23rem;font-size:0.36rem;">
                <div class="flex-1">{{textRes.items['账户余额']}}</div>
                <div>{{formatMoney(data.extData.CanusedAmount)}} USDT</div>
            </div>


            <div v-if="data.extData&&data.extData.TotalCreditMoney" class="display-flex flex-direction-row align-items-center borderBottom" style="height:1.23rem;font-size:0.36rem;">
                <div class="flex-1">{{textRes.items['信用额度']}}</div>
                <div>{{formatMoney(data.extData.TotalCreditMoney)}}</div>
            </div>

            <div v-if="typeObj.id==1" class="display-flex flex-direction-row align-items-center borderBottom" style="height:1.23rem;font-size:0.36rem;">
                <div class="flex-1">{{textRes.items['借款日期']}}</div>
                <div>{{showUTCTime(data.createTime)}}</div>
            </div>
            <div v-else class="display-flex flex-direction-row align-items-center borderBottom" style="height:1.23rem;font-size:0.36rem;">
                <div class="flex-1">{{textRes.items['借款日期']}}</div>
                <div>{{showUTCTime(data.extData.BorrowingTime, true)}}</div>
            </div>

            <div v-if="data.extData.InterestFreeTime" class="display-flex flex-direction-row align-items-center borderBottom" style="height:1.23rem;font-size:0.36rem;">
                <div class="flex-1">{{textRes.items['免息截止日']}}</div>
                <div>{{showUTCTime(data.extData.InterestFreeTime , true)}}</div>
            </div>

            <div v-if="typeObj.id.indexOf&&typeObj.id.indexOf(2)>=0" class="display-flex flex-direction-row align-items-center borderBottom" style="height:1.23rem;font-size:0.36rem;">
                <div class="flex-1">{{textRes.items['还款日期']}}</div>
                <div>{{showUTCTime(data.createTime, true)}}</div>
            </div>

            <div v-if="data.extData.CreditOverdueRate" class="display-flex flex-direction-row align-items-center borderBottom" style="height:1.23rem;font-size:0.36rem;">
                <div class="flex-1">{{textRes.items['日逾期利息']}}</div>
                <div>{{data.extData.CreditOverdueRate*100}}%</div>
            </div>

            <div v-if="data.extData.OverdueDay>0" class="display-flex flex-direction-row align-items-center borderBottom" style="height:1.23rem;font-size:0.36rem;">
                <div class="flex-1">{{textRes.items['逾期天数']}}</div>
                <div>{{textRes.getItem("n天",data.extData.OverdueDay,"s")}}</div>
            </div>

        </div>

    </div>
</body>
</html>